html {
    display: block;
}

body {
    display: block;
    margin: 0;
    text-align: center;
    background-color: white;
}

.top-container {
    text-align: center;
    background-color: #90E0EF;
    position: relative;
    width: auto;
    padding-top: 6.25em;
    overflow: auto;
}