html {
    display: block;
}

body {
    display: block;
    margin: 0;
    text-align: center;
    background-color: white;
}

.top-container {
    text-align: center;
    background-color: #90E0EF;
    position: relative;
    width: auto;
    padding-top: 6.25em;
    overflow: auto;
}

.navbar {
    background-color: #54BAB9;
    position: absolute;
    top: 0;
    margin: 0 auto 0 auto;
    width: 100%;
}

.profile-pin {
    border-color: #b9c8ed;
    position: absolute;
    top: 0.375em;
    left: 6.875em;
    border-radius: 100%;
    height: 3.125em;
    width: 3.125em;
}

h4.about {
    position: relative;
    top: -2px;
    left: 35%;
    font-family: 'Varela Round', sans-serif;
    display: inline-block;
}

a.about {
    color: white;
    text-decoration: none;
}

.intro {
    position:relative;
    top: 5em;
    font-family: 'Qwitcher Grypen', cursive;
}

.block {
    padding: 0 180px 0;
}

.land {
    position: relative;
    display: block;
    margin: 6.45em auto 0;
    width: 100%;
}

.mid-container {
    margin: 0;
    padding-bottom: 2.5em;
    background-color: #CAF0F8;
}